/_website

# Python
*.py[co]
.ipynb_checkpoints

# Eclipse PyDev
.project
.pydevproject

# PyCharm
.idea

# Vi
.*.swp

# Emacs
\#*#

# OS files
.DS_Store
desktop.ini

# Archives
*.tar
*.tar.gz
*.tar.bz2
*.zip
*.whl
